.feature-section {
    padding-top: 60px;

    @media screen and (min-width: $desktop) {
        padding-top: 94px;
    }

}

.feature-list {
    @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: space-between;
    }   
}

.feature-list__item {
    @media screen and (min-width: $tablet) {
        width: calc((100%)/2 - 15px);
    }

    @media screen and (min-width: $desktop) {
        width: 270px;
    }

    &:not(:last-child) {
        @media screen and (max-width: $max-mobile) {
            margin-bottom: 30px;
        } 
    }
}

.feature-list__title {
    line-height: 1.14;
    color: getColor('secondary-text');
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 10px;
}

.feature-list__text {
    line-height: 1.71;
}

.feature-list__background-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: getColor('secondary-bgd');

    margin-bottom: 30px;
}



// .feature-section {
//     padding-top: 94px;
// }

// .feature-list {
//     display: flex;
//     justify-content: space-between;
// }

// .feature-list__title {
//     line-height: 1.14;
//     color: getColor('secondary-text');
//     text-transform: uppercase;

//     margin-bottom: 10px;
// }

// .feature-list__text {
//     line-height: 1.71;
// }

// .feature-list__item {
//     width: 270px;
// }

// .feature-list__background-icon {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 120px;
//     background-color: getColor('secondary-bgd');

//     margin-bottom: 30px;
// }