.section-title {
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    color: getColor('secondary-text');
    margin-bottom: 30px;

    @media screen and (min-width: $desktop) {
        font-size: 36px;
        padding-bottom: 50px;
    }
}

.section {
    padding-bottom: 60px;

    @media screen and (min-width: $desktop) {
        padding-bottom: 94px;
    }
}

// .section-title {
//     font-size: 36px;
//     line-height: 1.17;
//     text-align: center;
//     color: getColor('secondary-text');
//     margin-bottom: 50px;
// }

// .section {
//     padding-bottom: 94px;
// }