.section-worker {
    background-color: getColor('secondary-bgd');

    padding-top: 60px;
}

.worker-list__item {
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    padding-bottom: 24px;

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.worker-list__img {
    margin-bottom: 30px;
    width: 100%;

}

.worker-list__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: getColor('secondary-text');

    margin-bottom: 10px;
}

.worker-list__profession {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
}

.sn-worker-list {
    display: flex;
    justify-content: center;

    padding: 0 32px;
    gap: 10px;
}

.sn-worker-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #AFB1B8;

    height: 44px;
    width: 44px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: getColor('accent');
        fill: #FFFFFF;
    }
}


// .section-worker {
//     background-color: getColor('secondary-bgd');

//     padding-top: 94px;
// }

// .worker-list {
//     display: flex;
//     justify-content: space-between;
// }

// .worker-list__item {
//     background-color: #FFFFFF;
//     text-align: center;
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
//         0px 1px 1px rgba(0, 0, 0, 0.14),
//         0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 0px 0px 4px 4px;

//     padding-bottom: 30px;
// }

// .worker-list__name {
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.19;
//     color: getColor('secondary-text');

//     margin-bottom: 10px;
// }

// .worker-list__profession {
//     font-size: 16px;
//     line-height: 1.19;
//     margin-bottom: 16px;
// }

// .worker-list__img {
//     margin-bottom: 30px;
// }

// .sn-worker-list {
//     display: flex;

//     padding: 0 32px;
//     gap: 10px;
// }

// .sn-worker-list__link {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 50%;
//     fill: #AFB1B8;

//     height: 44px;
//     width: 44px;

//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//         fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover, &:focus {
//         background-color: getColor('accent');
//         fill: #FFFFFF;
//     }
// }