.site-nav {
    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        gap: 50px;
    }
    
}

.site-nav__list {
    position: relative;
}

.site-nav__link {
    @media screen and (max-width: $max-mobile) {
        font-size: 40px;
        line-height: 47px;
    }
    display: inline-block;
    padding-bottom: 32px;
    color: getColor('secondary-text');

    @media screen and (min-width: $tablet) {
        padding: 32px 0;
    }
}

.site-nav__link.current {
    color: getColor('accent');

    @media screen and (min-width: $tablet) {
        &::after {
            content: '';

            position: absolute;
            bottom: 0;

            transform: translateY(1px);

            display: block;
            width: 100%;
            height: 4px;

            background-color: getColor('accent');
            border-radius: 2px;
        }
    }
}


// .site-nav {
//     display: flex;
//     align-items: center;
//     gap: 50px;
// }

// .site-nav__list {
//     position: relative;
// }

// .site-nav__link {
//     display: inline-block;
//     padding: 32px 0;
//     color: getColor('secondary-text');
// }

// .site-nav__link.current {
//     color: getColor('accent');

//     &::after {
//         content: '';
    
//         position: absolute;
//         bottom: 0;
    
//         transform: translateY(1px);
    
//         display: block;
//         width: 100%;
//         height: 4px;
    
//         background-color: getColor('accent');
//         border-radius: 2px;
//     }
// }